.icon-svg {
    width: 30px;
    height: 30px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

.icon-check {
    padding-right: 5px;
    cursor: pointer;
}

.icon-check:hover .icon-svg {
    fill: green
}

.icon-delete {
    cursor: pointer;
    position: absolute;
    right: 240px;
}

.icon-delete:hover .icon-svg {
    fill: red
}